<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Homepage</title>
    </head>
    <body>
        <ul>
        <li><a href="/rage-against-the-machine">Rage Against The Machine</a></li>
        <li><a href="/pokemon-gold">Pokemon Gold Version</a></li>
        <li><a href="/star-wars-rogue-one">Star Wars: Rogue One</a></li>
    </ul>
    </body>
</html>