<!doctype html>
<html lang='en'>
    <head>
        <a href="/">Return</a>
        <style>
            div.a {
                width: 19.6%;
                border: 1px solid black;
                }
        </style>
        <meta charset='utf-8' />
        <title>Pokemon Gold Version</title>
    </head>
    <body>
        <h1>Pokemon: Gold Version</h1>
        <img src='img/gold.png' alt="Pokemon Gold Version Box" width="500" height="500">
        <div class="a">Growing up in the '90s, I remember when Pokemon first came over to the US and became obsessed with it. When the long awaited sequel to the original games came out, Gold and Silver version,
            I feel in love even more. Easily my favorite pokemon games due to the fact that it added over 100 new pokemon to the roster of already 151 monster to catch, plus a new region to explore,
            Johto, which is heavily based off of the kyoto prefecture of japan, and even including the original region of Kanto once you thought you had beaten the game, only to find out you had only
            seen about half of it.
        </div>
    </body>
</html>