<!doctype html>
<html lang='en'>
    <head>
        <a href="/">Return</a>
        <meta charset='utf-8' />
        <title>Rage Against The Machine</title>
    </head>
    <body>
        <p>This page is for one of my favorite bands, Rage Against the Machine. 
        I enjoy their music because it is high energy and fun to work out to, but also has 
        political messages in each of their songs, even if I don't agree with it all the time. </p>
    </body>
</html>