<!doctype html>
<html lang='en'>
    <head>
        <a href="/">Return</a>
        <style>
            div.a {
                width: 19.6%;
                border: 1px solid black;
                }
        </style>
        <meta charset='utf-8' />
        <title>Rage Against The Machine</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    </head>
    <h1>Rage Against The Machine</h1>
    <img src='img/ratm_bfla.jpg' alt="Rage Against The Machine - Battle of Los Angeles" width="500" height="500">
    <body>
        <div class='a'>This page is for one of my favorite bands, Rage Against the Machine. 
        I enjoy their music because it is high energy and fun to work out to, but also has 
        political themes and messages in their songs. Even if I don't always agree with what the lyrics
        are saying, I enjoy it because it makes you think and question your beliefs. </div>
    </body>
</html>