<!doctype html>
<html lang='en'>
    <head>
        <a href="/">Return</a>
        <style>
            div.a {
                width: 27.5%;
                border: 1px solid black;
                }
        </style>
        <meta charset='utf-8' />
        <title>Star Wars: Rogue One</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    </head>
    <body>
        <h1>Star Wars: Rogue One</h1>
        <img src='img/rogue_one.jpg' alt="Star Wars: Rogue One Poster" width="700" height="1000">
        <div class="a">While not my favorite Star Wars movie (that goes to Empire Strikes Back), it is my favorite of the Disney Star Wars movies.
            It takes place prior to Episode IV: A New Hope, and follows Jyn Erso, the daughter of the lead scientest on the empires greatest
            and secret super weapon, the Death Star. She believes him to be dead, but a rebel operative Cassian Andor tells her otherwise. This 
            begins her journey with the fractured Rebel Alliance, as they look for a way to defeat this so called invincible weapon. It felt like 
            a novel from the old expanded universe (stories told outside of the movies), where it isn't overly important to the plot of the main movies, but makes the galaxy feel like a living
            place where people struggle to survive. 
        </div>
    </body>
</html>