<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="referrer" content="no-referrer"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <title>    Sign In - Imgur</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=1138">
    <meta name="robots" content="follow, index" />
    <meta name="description" content="Imgur is the easiest way to discover and enjoy the magic of the Internet." />
    <meta name="copyright" content="Copyright 2022 Imgur, Inc." />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="//s.imgur.com/images/favicon.png" sizes="64x64">
    <link rel="icon" type="image/png" href="//s.imgur.com/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="//s.imgur.com/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="//s.imgur.com/images/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon-precomposed" href="//s.imgur.com/images/favicon-152.png">
    <meta name="msapplication-TileColor" content="#2cd63c">
    <meta name="msapplication-TileImage" content="//s.imgur.com/images/favicon-144.png">
            <link rel="stylesheet" type="text/css" href="//s.imgur.com/min/global.css?1649692845" />

    
        <link rel="stylesheet" type="text/css" href="//s.imgur.com/min/newregister.css?1649692845" />

            <!--[if IE 9]><link rel="stylesheet" href="//imgur.com/include/css/ie-sucks.css?0" type="text/css" /><![endif]-->
    
            <link rel="canonical" href="https://imgur.com/signin?redirect=%2F" />
        <meta property="og:url" content="https://imgur.com/signin?redirect=%2F" />
    
            <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.imgur.com/signin?redirect=%2F">
    
    <meta name="p:domain_verify" content="834554521765408b9effdc758b69c5ee"/>
    <meta property="og:site_name" content="Imgur" />
    <meta property="fb:admins" content="12331492" />
    <meta property="fb:admins" content="12301369" />
    <meta property="fb:app_id" content="127621437303857" />
    <meta property="al:android:url" content="imgur://imgur.com/signin?redirect=%2F?from=fbreferral" />
    <meta property="al:android:app_name" content="Imgur" />
    <meta property="al:android:package" content="com.imgur.mobile" />
    <meta property="al:ios:url" content="imgur://imgur.com/signin?redirect=%2F?from=fbreferral" />
    <meta property="al:ios:app_store_id" content="639881495" />
    <meta property="al:ios:app_name" content="Imgur" />
    <meta property="al:web:url" content="https://imgur.com/signin?redirect=%2F" />
    <meta name="twitter:site" content="@imgur" />
    <meta name="twitter:domain" content="imgur.com" />
    <meta name="twitter:app:id:googleplay" content="com.imgur.mobile" />
            <meta property="og:title" content="Imgur" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Imgur: The magic of the Internet" />
        <meta property="og:image" content="https://s.imgur.com/images/logo-1200-630.jpg?2" />
        <meta property="og:image:height" content="630" />
        <meta property="og:image:width" content="1200" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Imgur" />
        <meta name="twitter:description" content="Imgur: The magic of the Internet" />
        <meta name="twitter:image:src" content="//s.imgur.com/images/logo-1200-630.jpg?2" />
        <meta name="twitter:image:height" content="630" />
        <meta name="twitter:image:width" content="1200" />
        <meta name="twitter:creator" content="@imgur" />
    
            <meta name="monetization" content="$ilp.uphold.com/qgnqweAYkhkH">
    

    
    <!--[if lte IE 8]><script type="text/javascript" src="//s.imgur.com/min/iepoly.js?1649692845"></script>
<![endif]-->
    
</head>
<body class="">
    
    <div id="drop-layer"></div>
    

    

            

        
    

            <div id="upload-global"></div>
    

            <div id="backimgur">
    <a href="/">back to Imgur</a>
</div>

<div class="full-width"></div>

<div class="signin-container">
    <a href="//imgur.com"><div class="signin-logo"></div></a>
    <div class="signin-callout text-center text-shadow">Sign In with</div>
    <div class="signin-social core-dark core-shadow br5"> 
        <a class="facebook icon-f     signin lvl1-dark br5 mr10 inline left" tabindex="1" href="/signin/facebook" id="Facebook"></a>
        <a class="twitter  icon-twttr signin lvl1-dark br5 mr10 inline left" tabindex="2" href="/signin/twitter"  id="Twitter"></a>
        <a class="apple icon-apple signin lvl1-dark br5 mr10 inline left" tabindex="3" href="https://appleid.apple.com/auth/authorize?response_type=code%20id_token&response_mode=form_post&client_id=imgurmobile.service&redirect_uri=https%3A%2F%2Fimgur.com%2Fsignin%2Fapple&state=appleid-signin626060d41298d&scope=name%20email" id="Apple"><img src="/images/svg/apple.svg" height="20" width="20"></a>
        <a class="google   icon-google signin lvl1-dark br5 mr10 inline left" tabindex="4" href="#"               id="Google"></a>
        <a class="yahoo    icon-yahoo signin lvl1-dark br5 last inline left" tabindex="5" href="/signin/yahoo"    id="Yahoo"></a>
        <div class="clear"></div>
    </div>

    <div id="fade-content-break"><span class="fade-break"></span><div class="signin-callout text-center text-shadow inline">or with Imgur</div><span class="fade-break fade-break-flip"></span>
    <form id="signin-form" method="post" action="/">

        <div class="signin-imgur core-dark core-shadow br5">
            

            <input
                title=""
                type="text"
                tabindex="5"
                name="username"
                maxlength="255"
                id="username"
                class="br5 lvl1-dark"
                placeholder="Username or Email"
                
            />

            <p class="password">
                <input
                    title=""
                    type="password"
                    tabindex="6"
                    name="password"
                    maxlength="255"
                    id="password"
                    class="br5 last lvl1-dark"
                    placeholder="Password"
                />

                <a class="forgot-password text-center" title="forgot password" href="//imgur.com/signin/forgotpassword">forgot?</a>
            </p>

            <input type="hidden" name="remember" value="remember">

            
        </div>

        <div class="signin-button">
            <button class="btn btn-action right" name="submit" tabindex="8" type="submit" id="Imgur">Sign In</button>

            <div class="signin-register-link text-shadow right"><a href="https://imgur.com/register?redirect=%2F">need an account?</a></div>
            <div class="clear"></div>
        </div>

    </form>
</div>

<div class="signin-footer">
    <span class="text-shadow"><a href="//imgur.com/tos" class="title">terms</a></span>
    <span class="text-shadow last"><a href="//imgur.com/privacy" class="title">privacy</a></span>
</div>
    

    

    

    

            
<!--[if lte IE 8]>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
if(typeof jQuery === 'undefined') {
    document.write('<script type="text/javascript" src="//s.imgur.com/include/js/ext/jquery-1.10.2.min.js"><' + '/script>');
}
</script>
<![endif]-->

<!--[if gt IE 8]>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
if(typeof jQuery === 'undefined') {
    document.write('<script type="text/javascript" src="//s.imgur.com/include/js/ext/jquery.2.1.1.min.js"><' + '/script>');
}
</script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
if(typeof jQuery === 'undefined') {
    document.write('<script type="text/javascript" src="//s.imgur.com/include/js/ext/jquery.2.1.1.min.js"><' + '/script>');
}
</script>
<!--<![endif]-->



                    <script type="text/javascript" src="//s.imgur.com/min/react15.js?1649692845"></script>

        
        <script type="text/javascript" src="//s.imgur.com/min/global.js?1649692845"></script>

        <script type="text/javascript">
            Imgur.Environment = {
                galleryScripts:             ["\/\/s.imgur.com\/min\/gallery.js?1649692845"],
                galleryCSS:                 ["\/\/s.imgur.com\/min\/gallery.css?1649692845"],
                isDev:                      false,
                isSubdomain:                Imgur.Util.isSubdomain('imgur.com'),
                amplitudeKey:               'f1fc2abcb6d136bd4ef338e7fc0b9d05',
                brazeKey:                   'be8bd442-4bf0-4227-a6de-02a816e8437d',
                appActionUrl:               'imgur://imgur.com',
                host:                       'imgur.com',
                cdnUrl:                     '//i.imgur.com',
                apiUrl:                     'https://api.imgur.com',
                staticUrl:                  '//s.imgur.com',
                socketUrl:                  '//browserevents.imgur.com',
                signed:                     false,
                auth:                       {},
                recaptcha_key:              '6LdqeaoUAAAAAKCYTa33bVxx-XiIZyfbeBFfo6Jv',
                msid:                       '4aa9d2fa7f11e16656c27b0b2f3fa670',
                beta:                       {
                    enabled: false,
                    inBeta:  false
                },
                
                ctaConfig:                  {"gaming":[{"start_time":1,"end_time":2147483647,"type":"button","trackingName":"gaming","localStorageName":"cta-gaming","url":"\/\/imgur.com\/t\/gaming\/top\/week","buttonText":"Check it out!","title":"You are now browsing the Internet on God Mode.","description":"Awesome unlocked! Imgur has gaming content like you wouldn't believe.","backgroundImage":"{STATIC}\/images\/cta\/cta-twitch.jpg","newTab":false,"buttonColor":"#4d3280"}],"facebook":[{"start_time":1,"end_time":2147483647,"type":"custom","jsReactClassName":"Facebook","trackingName":"facebook","localStorageName":"cta-fb141008","title":"Like us on Facebook!","description":"We're bringing funny to your newsfeed. Like Imgur on Facebook!","backgroundImage":"{STATIC}\/images\/cta\/facebook-day.jpg"}],"twitter":[{"start_time":1,"end_time":2147483647,"type":"custom","jsReactClassName":"Twitter","url":"https:\/\/twitter.com\/imgur","trackingName":"twitter","localStorageName":"cta-tw141008","newTab":true,"title":"Follow us on Twitter!","description":""}],"pinterest":[{"start_time":1,"end_time":2147483647,"type":"custom","jsReactClassName":"Pinterest","trackingName":"pinterest","localStorageName":"cta-pinterest-2015-07-14","title":"Follow us on Pinterest!","backgroundImage":"{STATIC}\/images\/cta\/pinterest.png","customClass":"pinterest"}],"promoted":[{"start_time":1,"end_time":2147483647,"type":"custom","jsReactClassName":"Promoted","trackingName":"promoted","localStorageName":false,"buttonText":"Learn More","title":"What Are Promoted Posts?","description":"And why am I seeing them?","backgroundImage":"{STATIC}\/images\/cta\/cta-promoted.jpg","url":"\/\/imgur.com\/blog\/?p=6101","newTab":true,"customClass":"pp-banner"}],"global":[{"type":"custom","customClass":"post-banner post-banner--darkTheme","newTab":true,"insidePageOK":true,"jsReactClassName":"Post","pageRegExp":"^\\\/((gallery|a|r\\\/subreddit|t\\\/([A-Za-z0-9])+)\\\/)?([A-Za-z0-9]{7}|[A-Za-z0-9]{5})$","start_time":1649390400,"end_time":1649476799,"countryCodes":["US"],"promoted":false,"sfw":false,"localStorageName":"cta-ads-free-2022-04-08","trackingName":"cta-ads-free-2022-04-08","backgroundImage":"https:\/\/s.imgur.com\/images\/cta\/ad-free\/20220408\/left.png","titleImg":"https:\/\/s.imgur.com\/images\/cta\/ad-free\/20220408\/middle.png","buttonImg":"https:\/\/s.imgur.com\/images\/cta\/ad-free\/20220408\/right.png","styles":{"backgroundImage":"url('https:\/\/s.imgur.com\/images\/cta\/ad-free\/20220408\/bg.png')","backgroundSize":"cover"},"oncePerSession":false,"backgroundColor":"url('https:\/\/s.imgur.com\/images\/cta\/ad-free\/20220408\/bg.png')","pixels":["https:\/\/p.placed.com\/api\/v2\/sync\/impression?partner=imgur&version=1.0&plaid=0063o000016dHZZAA2&payload_campaign_identifier=noads_fthrstrq2&payload_timestamp=1650483412&payload_type=impression&xr=tapad"],"url":"https:\/\/mcdonalds.smart.link\/ps8s0atvn"}],"global-lightbox":[{"start_time":1,"end_time":2147483647,"trackingName":"mobileApps","localStorageName":"apps1442873156","type":"custom","jsReactClassName":"GetTheApp","backgroundImage":"{STATIC}\/images\/space-med-bg.png?1433176979","newTab":true}]},
                experiments:                {"expSNKPK127":{"active":false,"name":"Most Viral A\/B Threshold","inclusionProbability":0.4,"expirationDate":"2017-12-31T00:00:00.000Z","variations":[{"name":"mvtimedecaycontroversialtr","inclusionProbability":0.5},{"name":"mvtimedecaycontroversialct","inclusionProbability":0.5}]},"expREV270":{"active":true,"name":"expREV270","inclusionProbability":1,"expirationDate":"2019-04-01T00:00:00.000Z","variations":[{"name":"SCTUstaticimage","inclusionProbability":0},{"name":"SCTU_desktop_template","inclusionProbability":0},{"name":"SCTU_RM","inclusionProbability":0},{"name":"SCTU_static_key_art","inclusionProbability":0},{"name":"control","inclusionProbability":1}]},"expREV366":{"active":true,"name":"expREV366","inclusionProbability":0.02,"expirationDate":"2019-05-01T00:00:00.000Z","variations":[{"name":"treatment","inclusionProbability":0.5},{"name":"control","inclusionProbability":0.5}]}},
                isGalleryAdmin:             false,
                isGalleryModerator:         false,
                isGallerySupermoderator:    false,
                isCommunityTeam:            false,
                ppBlog:                     '//imgur.com/blog/?p=6101',
                videoIsLimited:             false,
                isPPUser:                   false,
                apiClientId:                '546c25a59c58ad7',
                adsEnabled:                 true,
                sponsoredReactionGifs:      null || {},
                countryCode:                'US',
                subscription:               {
                    isSubscribed:               false,
                    subscriptionBeta:           false,
                    noPromotedPosts:            false,
                    isFoundersClub:             false,
                    monetization:               false,
                },
                featureFlags:               {
                    cakeIcon:                   false,
                },
            };

            var imgur = Imgur.getInstance();
            imgur.init(_.merge(Imgur.Environment, {
                
                
                beta: {"enabled":false,"inBeta":false,"showInvite":false,"ctaInvite":{"betainvite":null},"ctaWelcome":[]},
            }));

            imgur.generalInit();

            

            var _widgetFactory = new Imgur.Factory.Widget(Imgur.Environment);

            _widgetFactory.mergeConfig('global', Imgur.Environment);

            
        </script>

        <script type="text/javascript">
            var __nspid="1mvmyo";
            var __nsptags=[];

            (function() {
                var roll = Math.random();
                if(roll < 0.1) {
                    
                        // This is the NSONE Pulsar tag
                        (function(w, d) { var x = function() {
                        var j=d.createElement("script");j.type="text/javascript";j.async=true;
                        j.src="http"+("https:"===d.location.protocol?"s://cs":"://c")+".ns1p.net/p.js?a="+__nspid;
                        d.body.appendChild(j); }
                        if(w.addEventListener) { w.addEventListener("load", x, false); }
                        else if(w.attachEvent) { w.attachEvent("onload", x); }
                        else { w.onload = x; }
                        }(window, document));

                    
                }
            })();
        </script>

    

            <script type="text/javascript">
            (function(widgetFactory) {
                widgetFactory.mergeConfig('analytics', {
                    isAdmin: false,
                    logPixel: '//p.imgur.com/lumbar.gif'
                });
                widgetFactory.mergeConfig('global', {
                    analyticsAccountId: 'UA-6671908-2'
                });

                widgetFactory.mergeConfig('search', {
                    type: 'global', 
                q: ''
                });

                widgetFactory.produceJafo();

                widgetFactory.startExperiments();

                
                    })(_widgetFactory);

        </script>
    

    

        <script type="text/javascript" src="//s.imgur.com/min/signin.js?1649692845"></script>

    <script>
    window.googleClientId = '4854413099-0t18fnkqnf8io1b5m45rnpn35jtjn4d3.apps.googleusercontent.com';
    function initGapiAuth2() {
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
                client_id: window.googleClientId,
                cookiepolicy: 'single_host_origin',
                scope: 'email',
                fetch_basic_profile: false,
            });
        });
    }
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=initGapiAuth2" async defer></script>
    <script type="text/javascript">
    if(false) {
        $('.g-recaptcha iframe').addClass('signin-error');
    }

    </script>
    <script type="text/javascript">
    (function() {
        var signinRegister = 'signin';
        var validationError = '';
        
        logAuthentication(signinRegister, validationError);
    })();
</script>


    

    

            <script type="text/javascript">
        if (typeof _widgetFactory !== 'undefined') {
            _widgetFactory.produceSearch();
            _widgetFactory.initIdleMonitor();
        }
        </script>
    

        
    

    

            <script type="text/javascript">
        
        (function(){
            try{
                var msg = '\n      _\n     (_)\n      _ _ __ ___   __ _ _   _ _ __\n     | | \'_ ` _ \\ / _` | | | | \'__|\n     | | | | | | | (_| | |_| | |\n     |_|_| |_| |_|\\__, |\\__,_|_|\n                   __/ |\n                  |___/\n';
                msg += '========================================\nYou opened the console! Know some code,\ndo you? Want to work for one of the best\nstartups around? https://imgur.com/jobs\n========================================\n';
                console.log(msg);
            }catch(e){}
        })()
        
    </script>
    
    

            <script>
    // implemented following recommendations here: https://docs.coil.com/oauth-web-monetization
    var owmto;
    function getBtpToken(successCallback) {
        if (Imgur.Environment && Imgur.Environment.subscription.isSubscribed === false
            || !Imgur.Environment.subscription.monetization) {
            return;
        }
        $.ajax({
            url: 'https://api.imgur.com' + '/account/v1/accounts/me/subscriptions/coil/btp',
            xhrFields: {
                withCredentials: true,
            },
            displayGenericError : false,
            success: successCallback
        });
    }

    function setRefreshTimeout(refreshFunc) {
        if (owmto) {
            clearTimeout(owmto);
        }
        // refresh btpToken every 25 minutes.
        owmto = setTimeout(refreshFunc, 1.5e+6);
    }

    function refreshBtp() {
        var refreshCB = function(data) {
            document.coilMonetizationPolyfill.refreshBtpToken(data.btp_token);
            setRefreshTimeout(refreshBtp);
        };

        getBtpToken(refreshCB);
    }

    function initMonetizationFallback(){
        var initCB = function(data) {
            Imgur.getInstance().bindMonetizationStartListener();
            document.coilMonetizationPolyfill.init({
                btpToken: data.btp_token,
                btpEndpoint: 'btp+wss://coil.com/btp'
            });
            window.addEventListener('focus', refreshBtp);
            setRefreshTimeout(refreshBtp);
        };

        getBtpToken(initCB);
    }

    if (document.monetization) {
        document.monetizationExtensionInstalled = true;
    } else {
        document.monetization = document.createElement('div');
        document.monetization.state = 'stopped';
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.defer = true
        script.src = 'https://cdn.coil.com/coil-oauth-wm.v7.beta.js';
        script.onload = function() {
            initMonetizationFallback();
        };
        head.appendChild(script);
    }
</script>

    

    
</body>
</html>
