<!doctype html>
<head>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <body>
        <a href='/'>Back</a>
        <script type = "text/javascript">
            document.cookie = "name=test_cookie ;path=/cookie";
            document.write(document.cookie)
        </script>
    </body>
</head>