<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Port 5000</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    </head>
    <body>
        <p>This is port 5000!</p> 
        <script>
            //CORS request from localhost:4000
            //, {method:"GET", headers: {"X-CS595s22-gold": "Pokemon Gold Version"}}
            fetch("http://localhost:4000/pokemon-gold", {method:"GET", headers: {"X-CS595s22-gold": "Pokemon Gold Version"}})
                .then(response=>{
                    paragraph = document.getElementById("p")
                    document.write('X-CS595s22-gold: ' + response.headers.get('X-CS595s22-gold'))
                    
                    document.write("<br/>")
                })
            fetch("http://localhost:4000/star-wars-rogue-one", {method:"GET", headers: {"X-CS595s22-star_wars": "Star Wars: Rogue One"}})
                .then(response=>{
                    paragraph = document.getElementById("p")
                    document.write('X-CS595s22-star_wars: ' + response.headers.get('X-CS595s22-star_wars'))
                    
                    document.write("<br/>")
                })
            fetch("http://localhost:4000/rage-against-the-machine", {method:"GET", headers: {"X-CS595s22-ratm": "Rage Against the Machine"}})
                .then(response=>{
                    paragraph = document.getElementById("p")
                    document.write('X-CS595s22-ratm: ' + response.headers.get('X-CS595s22-ratm'))
                    
                    document.write("<br/>")
            });
        </script>
        <p id = "p"></p>
    </body>
</html>