<!doctype html>
<head>
    <body>
        <a href='/'>Back</a>
        <script type = "text/javascript">
            document.cookie = "path=/cookie;";
            document.write(document.cookie)
        </script>
    </body>
</head>

