<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Port 4000</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    </head>
    <body>
        <p>Content Security Policy: The page’s settings blocked the loading of a resource at inline (“default-src”). localhost:4000:10:1</p>
        <p>Content Security Policy: The page’s settings blocked the loading of a resource at https://www.bandcamp.com/ (“default-src”).</p>
        <iframe src = "https://www.bandcamp.com"></iframe>
    </body>
</html>