<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Port 4000</title>
    </head>
    <body>
        <p>This is port 4000!</p>
        <script>
            //Same-origin request
            /*
            fetch("https://www.bandcamp.com")
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
            */   
        </script>
        <iframe src = "https://www.bandcamp.com"></iframe>
    </body>
</html>